$darkcyan: hsl(185, 75%, 39%);
$verydark: hsl(229, 23%, 23%);
$grayishblue: hsl(227, 10%, 46%);
$darkgray: hsl(0, 0%, 59%);
$white: hsl(255, 100%, 100%);
$fontsize: 18px;
$fontfamily: "Kumbh Sans", sans-serif;
