$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$veripale: hsl(225, 100%, 98%);
$dblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);
$fontsize: 16px;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
$fontfamily: "Red Hat Display", sans-serif;
