$vdarkblue: hsl(233, 47%, 7%); /* Background */
$darkblue: hsl(244, 38%, 16%); /* Card Background */
$softviolet: hsl(277, 64%, 61%); /* Accent? */
$white: hsl(0, 0%, 100%); /* Main Heading and Stats */
$slighttransparent: hsla(0, 0%, 100%, 0.75); /* Main Paragraph */
$slighttransparentwhite: hsla(0, 0%, 100%, 0.6); /* Stats Heading */
$fontsize: 15px;
$familyintern: "Inter", sans-serif;
$familydeca: "Lexend Deca", sans-serif;
